<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit
      (createdIngredient)="onAddIngredient($event)"
    ></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
        basicBackground
      >
        <!-- <div
          *appUnless="ingredient"
        > -->
        <div>
          {{ ingredient.name }} ({{ ingredient.amount }})
        </div>
      </a>
    </ul>
  </div>
</div>
